# **PROBLEMA DE NEGOCIO**


---

### DataHouse somos una empresa de tecnología dedicada al rubro de los inmuebles, por medio de nuestros equipos tecnologicos realizamos análisis para empresas dedicadas a bienes raises con el fin de optimizar el performance de las inversion de estos para poder ofrecer ellos en la carterela de servicios un mejor precio a sus clientes según la espectatica de ellos, tenemos presencia en muchos paises de Latam y buscamos crecer para mejorar tanto la experiencia de la compra de tu casa como de tu negocio en bienes y raises buscando optener nuevas aliansas que nos permitan crecer y llegar a mas parte de todos nuestros hermanos latinoamiricanos

# **1. Configuración del Ambiente**


---

In [12]:
import warnings
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
global df_argentina_buenos_aires, df_colombia_bogota

# **2. Obtención y Tratamiento de Datos**


---

## **2.1 Cargando las bases de datos**

In [7]:
df_colombia_bogota = pd.read_csv('../data/inmuebles_bogota.csv')
df_colombia_bogota.head(10)

,Tipo,Descripcion,Habitaciones,Baños,Área,Barrio,UPZ,Valor
0,Apartamento,Apartamento en venta en Zona Noroccidental,3,2,70,Zona Noroccidental,CHAPINERO: Pardo Rubio + Chapinero,$ 360.000.000
1,Casa,Casa en venta en Castilla,4,3,170,Castilla,KENNEDY: Castilla + Bavaria,$ 670.000.000
2,Apartamento,Apartamento en venta en Chico Reservado,3,3,144,Chico Reservado,CHAPINERO: Chicó Lago + El Refugio,$ 1.120.000.000
3,Apartamento,Apartamento en venta en Usaquén,3,2,154,Usaquén,Usaquén,$ 890.000.000
4,Apartamento,Apartamento en venta en Bella Suiza,2,3,128,Bella Suiza,USAQUÉN: Country Club + Santa Bárbara,$ 970.000.000
5,Apartamento,Apartamento en venta en Bella Suiza,1,2,62,Bella Suiza,USAQUÉN: Country Club + Santa Bárbara,$ 510.000.000
6,Apartamento,Apartamento en venta en Bella Suiza,1,2,62,Bella Suiza,USAQUÉN: Country Club + Santa Bárbara,$ 500.000.000
7,Apartamento,Apartamento en venta en Bella Suiza,3,4,212,Bella Suiza,USAQUÉN: Country Club + Santa Bárbara,$ 2.350.000.000
8,Apartamento,Apartamento en venta en El Chicó,3,2,159,El Chicó,CHAPINERO: Chicó Lago + El Refugio,$ 850.000.000
9,Apartamento,Apartamento en venta en Bella Suiza,2,2,80,Bella Suiza,USAQUÉN: Country Club + Santa Bárbara,$ 642.000.000

In [6]:
df_argentina_buenos_aires = pd.read_csv('../data/inmuebles_buenos_aires.csv')
df_argentina_buenos_aires.head(10)

,año_mes,Actos notariales de compra venta de inmuebles anotados en el Colegio de Escribanos. CABA,Var. mensual (%),Var. Anual (%)
0,2002-01,1678,NaN,NaN
1,2002-02,1557,-7.21096543504172,NaN
2,2002-03,3434,120.552344251766,NaN
3,2002-04,8035,133.983692486896,NaN
4,2002-05,8098,0.784069695084,NaN
5,2002-06,3548,-56.1867127685848,NaN
6,2002-07,4308,21.4205186020293,NaN
7,2002-08,4380,1.67130919220055,NaN
8,2002-09,4580,4.56621004566211,NaN
9,2002-10,5048,10.2183406113537,NaN

## **2.2 Tratamiento de datos**

In [5]:
print(df_colombia_bogota.info())
print('-------------')
print(df_argentina_buenos_aires.info())
print('-------------')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9520 entries, 0 to 9519
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Tipo          9520 non-null   object
 1   Descripcion   9520 non-null   object
 2   Habitaciones  9520 non-null   int64
 3   Baños         9520 non-null   int64
 4   Área          9520 non-null   int64
 5   Barrio        9520 non-null   object
 6   UPZ           9478 non-null   object
 7   Valor         9520 non-null   object
dtypes: int64(3), object(5)
memory usage: 595.1+ KB
None
-------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230 entries, 0 to 229
Data columns (total 4 columns):
 #   Column                                                                                     Non-Null Count  Dtype
---  ------                                                                                     --------------  -----
 0   año_mes                                                                                    230 non-null    object
 1   Actos notariales de compra venta de inmuebles anotados en el Colegio de Escribanos. CABA   230 non-null    int64
 2   Var. mensual (%)                                                                           229 non-null    object
 3   Var. Anual (%)                                                                             218 non-null    object
dtypes: int64(1), object(3)
memory usage: 7.3+ KB
None
-------------

In [13]:
def verificacion(dataframe):
  global df_colombia_bogota, df_argentina_buenos_aires
    # Verificar valores nulos
  print("Valores nulos por columna:")
  print(dataframe.isnull().sum())
  print("\n")

  # Verificar duplicados
  duplicados = dataframe.duplicated()
  df_duplicados = dataframe[duplicados]
  if not df_duplicados.empty:
      print("Filas duplicadas:")
      print(df_duplicados)
      print("\n")

  # Contar valores únicos en cada columna
  print("Conteo de valores únicos por columna:")
  for columna in dataframe.columns:
      print(f"Columna '{columna}': {dataframe[columna].nunique()} valores únicos")
      print(f"Valores únicos en '{columna}':")
      #print(dataframe[columna].unique())
      print("\n")

  # Verificar tipos de datos por columna
  print("\nTipos de datos por columna:")
  for columna in dataframe.columns:
      print(f"Columna '{columna}': {dataframe[columna].dtype}")

  # Verificar tipos de datos y buscar inconsistencias
  for columna in dataframe.select_dtypes(include=['object', 'string']).columns:
      print(f"\nVerificando inconsistencias en la columna '{columna}':")
      inconsistencias = dataframe[dataframe[columna].apply(lambda x: not all(ord(c) < 128 for c in str(x)))]
      if not inconsistencias.empty:
          print(inconsistencias)
          print("\n")

  #Verificar Nan en todo el dataset
  print("Valores NaN por columna:")
  df_nan = dataframe[dataframe.isna().any(axis=1)]
  print(df_nan.head())
  print("\n")

In [14]:
verificacion(df_argentina_buenos_aires)

Valores nulos por columna:
año_mes                                                                                       0
Actos notariales de compra venta de inmuebles anotados en el Colegio de Escribanos. CABA      0
Var. mensual (%)                                                                              1
Var. Anual (%)                                                                               12
dtype: int64


Conteo de valores únicos por columna:
Columna 'año_mes': 230 valores únicos
Valores únicos en 'año_mes':


Columna 'Actos notariales de compra venta de inmuebles anotados en el Colegio de Escribanos. CABA ': 229 valores únicos
Valores únicos en 'Actos notariales de compra venta de inmuebles anotados en el Colegio de Escribanos. CABA ':


Columna 'Var. mensual (%)': 229 valores únicos
Valores únicos en 'Var. mensual (%)':


Columna 'Var. Anual (%) ': 218 valores únicos
Valores únicos en 'Var. Anual (%) ':



Tipos de datos por columna:
Columna 'año_mes': object
Columna 'Actos notariales de compra venta de inmuebles anotados en el Colegio de Escribanos. CABA ': int64
Columna 'Var. mensual (%)': object
Columna 'Var. Anual (%) ': object

Verificando inconsistencias en la columna 'año_mes':

Verificando inconsistencias en la columna 'Var. mensual (%)':

Verificando inconsistencias en la columna 'Var. Anual (%) ':
Valores NaN por columna:
   año_mes  \
0  2002-01
1  2002-02
2  2002-03
3  2002-04
4  2002-05

   Actos notariales de compra venta de inmuebles anotados en el Colegio de Escribanos. CABA   \
0                                               1678
1                                               1557
2                                               3434
3                                               8035
4                                               8098

    Var. mensual (%) Var. Anual (%)
0                NaN             NaN
1  -7.21096543504172             NaN
2   120.552344251766             NaN
3   133.983692486896             NaN
4     0.784069695084             NaN

In [15]:
verificacion(df_colombia_bogota)

Valores nulos por columna:
Tipo             0
Descripcion      0
Habitaciones     0
Baños            0
Área             0
Barrio           0
UPZ             42
Valor            0
dtype: int64


Filas duplicadas:
             Tipo                                 Descripcion  Habitaciones  \
56    Apartamento             Apartamento en venta en Usaquén             2
61    Apartamento             Apartamento en venta en Usaquén             3
63    Apartamento  Apartamento en venta en Zona Noroccidental             3
64    Apartamento            Apartamento en venta en Engativa             3
65    Apartamento            Apartamento en venta en Fontibón             3
...           ...                                         ...           ...
9446  Apartamento             Apartamento en venta en Kennedy             3
9453         Casa                   Casa en venta en Fontibón             5
9457  Apartamento                Apartamento en venta en Suba             3
9462         Casa                    Casa en venta en Kennedy            10
9510         Casa                   Casa en venta en Fontibón             3

      Baños  Área              Barrio                                 UPZ  \
56        2    80             Usaquén                             Usaquén
61        3    66             Usaquén                             Usaquén
63        2    78  Zona Noroccidental  CHAPINERO: Pardo Rubio + Chapinero
64        2    60            Engativa                            Engativá
65        3    87            Fontibón                            Fontibón
...     ...   ...                 ...                                 ...
9446      1    47             Kennedy                     Kennedy Central
9453      4   165            Fontibón                            Fontibón
9457      3   131                Suba                                Suba
9462      3   139             Kennedy                     Kennedy Central
9510      1    48            Fontibón                            Fontibón

              Valor
56    $ 349.000.000
61    $ 261.500.000
63    $ 278.000.000
64    $ 258.000.000
65    $ 520.000.000
...             ...
9446  $ 140.000.000
9453  $ 790.000.000
9457  $ 700.000.000
9462  $ 500.000.000
9510  $ 165.000.000

[3575 rows x 8 columns]


Conteo de valores únicos por columna:
Columna 'Tipo': 8 valores únicos
Valores únicos en 'Tipo':


Columna 'Descripcion': 316 valores únicos
Valores únicos en 'Descripcion':


Columna 'Habitaciones': 21 valores únicos
Valores únicos en 'Habitaciones':


Columna 'Baños': 10 valores únicos
Valores únicos en 'Baños':


Columna 'Área': 478 valores únicos
Valores únicos en 'Área':


Columna 'Barrio': 149 valores únicos
Valores únicos en 'Barrio':


Columna 'UPZ': 63 valores únicos
Valores únicos en 'UPZ':


Columna 'Valor': 1039 valores únicos
Valores únicos en 'Valor':



Tipos de datos por columna:
Columna 'Tipo': object
Columna 'Descripcion': object
Columna 'Habitaciones': int64
Columna 'Baños': int64
Columna 'Área': int64
Columna 'Barrio': object
Columna 'UPZ': object
Columna 'Valor': object

Verificando inconsistencias en la columna 'Tipo':

Verificando inconsistencias en la columna 'Descripcion':
             Tipo                             Descripcion  Habitaciones  \
3     Apartamento         Apartamento en venta en Usaquén             3
8     Apartamento        Apartamento en venta en El Chicó             3
20    Apartamento         Apartamento en venta en Usaquén             1
30    Apartamento         Apartamento en venta en Usaquén             3
33    Apartamento        Apartamento en venta en Fontibón             3
...           ...                                     ...           ...
9504  Apartamento        Apartamento en venta en El Batán             2
9507  Apartamento        Apartamento en venta en Fontibón             3
9508  Apartamento  Apartamento en venta en Ciudad Bolívar             3
9509  Apartamento         Apartamento en venta en Usaquén             3
9510         Casa               Casa en venta en Fontibón             3

      Baños  Área          Barrio  \
3         2   154         Usaquén
8         2   159        El Chicó
20        2    50         Usaquén
30        3    66         Usaquén
33        3    87        Fontibón
...     ...   ...             ...
9504      2    75        El Batán
9507      2    56        Fontibón
9508      1    34  Ciudad Bolívar
9509      3   180         Usaquén
9510      1    48        Fontibón

                                                    UPZ            Valor
3                                               Usaquén    $ 890.000.000
8                    CHAPINERO: Chicó Lago + El Refugio    $ 850.000.000
20                                              Usaquén    $ 420.000.000
30                                              Usaquén    $ 261.500.000
33                                             Fontibón    $ 520.000.000
...                                                 ...              ...
9504                                        La Alhambra    $ 380.000.000
9507                                           Fontibón    $ 330.000.000
9508  CIUDAD BOLÍVAR: Monteblanco + El Tesoro + El M...    $ 140.000.000
9509                                            Usaquén  $ 1.250.000.000
9510                                           Fontibón    $ 165.000.000

[1772 rows x 8 columns]



Verificando inconsistencias en la columna 'Barrio':
             Tipo                             Descripcion  Habitaciones  \
3     Apartamento         Apartamento en venta en Usaquén             3
8     Apartamento        Apartamento en venta en El Chicó             3
20    Apartamento         Apartamento en venta en Usaquén             1
30    Apartamento         Apartamento en venta en Usaquén             3
33    Apartamento        Apartamento en venta en Fontibón             3
...           ...                                     ...           ...
9504  Apartamento        Apartamento en venta en El Batán             2
9507  Apartamento        Apartamento en venta en Fontibón             3
9508  Apartamento  Apartamento en venta en Ciudad Bolívar             3
9509  Apartamento         Apartamento en venta en Usaquén             3
9510         Casa               Casa en venta en Fontibón             3

      Baños  Área          Barrio  \
3         2   154         Usaquén
8         2   159        El Chicó
20        2    50         Usaquén
30        3    66         Usaquén
33        3    87        Fontibón
...     ...   ...             ...
9504      2    75        El Batán
9507      2    56        Fontibón
9508      1    34  Ciudad Bolívar
9509      3   180         Usaquén
9510      1    48        Fontibón

                                                    UPZ            Valor
3                                               Usaquén    $ 890.000.000
8                    CHAPINERO: Chicó Lago + El Refugio    $ 850.000.000
20                                              Usaquén    $ 420.000.000
30                                              Usaquén    $ 261.500.000
33                                             Fontibón    $ 520.000.000
...                                                 ...              ...
9504                                        La Alhambra    $ 380.000.000
9507                                           Fontibón    $ 330.000.000
9508  CIUDAD BOLÍVAR: Monteblanco + El Tesoro + El M...    $ 140.000.000
9509                                            Usaquén  $ 1.250.000.000
9510                                           Fontibón    $ 165.000.000

[1765 rows x 8 columns]



Verificando inconsistencias en la columna 'UPZ':
             Tipo                                     Descripcion  \
2     Apartamento         Apartamento en venta en Chico Reservado
3     Apartamento                 Apartamento en venta en Usaquén
4     Apartamento             Apartamento en venta en Bella Suiza
5     Apartamento             Apartamento en venta en Bella Suiza
6     Apartamento             Apartamento en venta en Bella Suiza
...           ...                                             ...
9509  Apartamento                 Apartamento en venta en Usaquén
9510         Casa                       Casa en venta en Fontibón
9513         Casa                       Casa en venta en San Luis
9516  Apartamento  Apartamento en venta en Parque Central Bavaria
9518         Casa                       Casa en venta en Engativa

      Habitaciones  Baños  Área                  Barrio  \
2                3      3   144         Chico Reservado
3                3      2   154                 Usaquén
4                2      3   128             Bella Suiza
5                1      2    62             Bella Suiza
6                1      2    62             Bella Suiza
...            ...    ...   ...                     ...
9509             3      3   180                 Usaquén
9510             3      1    48                Fontibón
9513            14      6   594                San Luis
9516             2      2   100  Parque Central Bavaria
9518             3      2   183                Engativa

                                         UPZ            Valor
2         CHAPINERO: Chicó Lago + El Refugio  $ 1.120.000.000
3                                    Usaquén    $ 890.000.000
4      USAQUÉN: Country Club + Santa Bárbara    $ 970.000.000
5      USAQUÉN: Country Club + Santa Bárbara    $ 510.000.000
6      USAQUÉN: Country Club + Santa Bárbara    $ 500.000.000
...                                      ...              ...
9509                                 Usaquén  $ 1.250.000.000
9510                                Fontibón    $ 165.000.000
9513                                Galerías  $ 1.200.000.000
9516  SANTA FE: Las Nieves + Sagrado Corazón    $ 670.000.000
9518                                Engativá    $ 335.000.000

[4469 rows x 8 columns]



Verificando inconsistencias en la columna 'Valor':
Valores NaN por columna:
             Tipo                        Descripcion  Habitaciones  Baños  \
724   Apartamento  Apartamento en venta en Pasadena              3      2
1473  Apartamento  Apartamento en venta en Pasadena              3      2
1522  Apartamento  Apartamento en venta en Pasadena              3      2
1716  Apartamento  Apartamento en venta en Pasadena              2      3
1993         Casa         Casa en venta en Pasadena              3      3

      Área     Barrio  UPZ          Valor
724    103  Pasadena   NaN  $ 478.000.000
1473   109  Pasadena   NaN  $ 472.000.000
1522    80  Pasadena   NaN  $ 480.000.000
1716   109  Pasadena   NaN  $ 699.000.000
1993   161  Pasadena   NaN  $ 950.000.000